a {
  color: white;
}

a:hover {
  color: #A91E00;
}

body {
  background-color: #4B4B4B;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div {
  position: relative;
}

footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

form {
  display: inline-block;
  position: absolute;
  right: 5px;
}

h1 {
  color: white;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
}

h2 {
  color: white;
  -webkit-margin-after: 3px;
}

h3 {
  color: white;
  -webkit-margin-after: 3px;
  -webkit-margin-before: 3px;
}

.header {
  background-color: #A91E00;
  text-align: center;
}

hr {
  border-style: none none dotted;
  border-width: 10px;
  border-color: #A91E00;
  width: 10%;
}

label {
  color: white;
}

.navbar {
  background-color: #232323;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  width: 100%;
}

p {
  color: white;
  -webkit-margin-after: 0;
  -webkit-margin-before: 0;
  display: inline-block;
  margin-top: 3px;
}
